body {
  font-size: 16px;
  background-color: #61122f;
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#company-name {
  font-size: 24px;
  margin-left: 15px;
  font-weight: bold;
}

.navbar-brand {
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;

}

.navbar-brand h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px #222;
  margin-top: 0;
  margin-bottom: 0;
}

.dropdown {
  background-color: #009941;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}

#nav-list a:hover {
  color: #E7E7E7;
  text-align: center;
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.text-center {
  color: #ffffff;
  font-size: 1.5em;
}

.menu-item-description {
  text-align: center;
  color: #ffffff;
}